@import "~bootstrap/scss/bootstrap";

:root {
  --primaryColor: rgb(160, 70, 37);
  --secondaryColor: rgb(48, 39, 29);
  --white: rgb(218, 218, 218);
  --backgroundColor: rgb(189, 172, 158);
  background-color: var(--backgroundColor);
}

///////////////////////////////////////////////////////////
// Navbar Styling
.navbar {
  position: fixed;
  background-color: var(--secondaryColor);
  height: 70px;
  width: 100vw;
  font-size: 20px;
  z-index: 1;
}

.logo {
  height: 75px;
  position: fixed;
  top: 0;
  left: 48%;
  padding-top: 100;
}

.navTitle {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  color: var(--primaryColor);
  padding: 10px 20px;
}

.navItems {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.navLink {
  color: var(--white)
}

///////////////////////////////////////////////////////////
// Homepage styling
.homepage {
  height: 100vh;
  background-color: var(--backgroundColor);
}

.jumbotronImg {
  height: 550px;
  width: 100vw;
  position: relative;
}

.drinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}

.favDrinks {
  text-align: center;
  margin-top: 20px;
}

.drinkCard {
  border: var(--secondaryColor) solid;
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px grey;
}

.drinkName {
  text-align: center;
  font-size: 24px;
  color: var(--primaryColor);
  margin-top: 20px;
}

.drinkPic {
  height: 350px;
  width: 350px;
  border-radius: 15px;
  border: var(--secondaryColor) solid;
}

//////////////////////////////////////////////////////////
// Store Page Styling
.store-page {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: var(--backgroundColor);
}

.store {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  margin: 0 auto;
  flex-wrap: wrap;
}

.storeHeader {
  text-align: center;
  margin-top: 90px;
}

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: var(--white);
  text-align: center;
  width: 380px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px grey;
}

.cardTitle {
  font-size: 24px;
  text-align: center;
  background-color: var(--secondaryColor);
  color: var(--white);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.productImg {
  display: flex;
  height: 250px;
  width: 250px;
  align-self: center;
}

.addToCartBtn {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  color: var(--white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.addToCartBtn:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.addToCartBtn:focus {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  color: var(--white);
}
/////////////////////////////////////////////////////////////////////
// Order History Stylings

.backToHome {
  margin-top: 80px;
}

/////////////////////////////////////////////////////////////////////
//   Cart module Styling
.cart {
  z-index: 2;
  color: var(--primaryColor);
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: var(--white);
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--secondaryColor);
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  z-index: 2;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: var(--secondaryColor);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  z-index: 2;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(30deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

/////////////////////////////////////////////////////
// Sussess styling
.successContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor)
}
.successMessage {  
  margin-top: 100px;
  text-align: center;
}
.successH2 {
  text-align: center;
}
/////////////////////////////////////////////////////
// Login/Signup Module Styling
.nav-pills .nav-link.active {
  background-color: var(--primaryColor);
}
.nav-link {
  color: var(--secondaryColor);
}
.nav-link:hover {
  color: var(--primaryColor);
}
.btn:disabled, .btn-success {
  background-color: var(--primaryColor);
  margin-top: 20px;
  margin-left: 38%;
  width: 120px;
  padding: 10px;
  border: none;
  }
.modal-content {
  background-color: var(--backgroundColor);
}
/////////////////////////////////////////////////////
// Media Query
@media (max-width: 991px) {
  .navTitle {
    display: none;
  }
  .cart-closed {
    left: 10px;
  }
  .jumbotronImg {
    height: 450px;
    width: 100vw;
    position: relative;
  }
}
