.jumbotron {
    height: 450px;  
    position: relative;
    background-image: url(../../../src/images/jumbotron.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}