
.card {
  width: 25vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.productCards {
  width: 100%;
  margin: 20;
  background-color: rgb(207, 207, 207);
}
.cardTitle {
  font-size: 24px;
  text-align: center;
  background-color: rgb(116, 116, 116);
}  
.cardContent {
  padding: 10;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.addToCartBtn {
  background-color: rgb(160, 70, 37);
  
}
.cartBtns {
  display: flex;
  justify-content: center;
}
.cartQuantity {
  display: flex;
  width: 25px;
}