

  .productCards {
    margin: 20;
    background-color: green;
  }
  .card-title {
    background: '#3f51b5';
    min-height: 50;
    line-height: 3.5;
    font-size: '1.2rem';
    color: 'white';
    padding: '0 20px';
  }


  
  .productContent {
    padding: 10;
  
  }